.avatar-custom {
    width: 200px;
    height: 200px;
    -webkit-mask-image: url("../../../assets/mask-blob.svg");
    -webkit-mask-size: cover;
    mask-image: url("../../../assets/mask-blob.svg");
    mask-size: cover;
    overflow: hidden;
  }

  .avatar-custom ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
  }


  .custom-toolbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px; 
    padding-right: 20px; 
  }
  
  .start-buttons,
  .end-buttons {
    display: flex;
    align-items: center;
  }
  
  .custom-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: inherit; 
    color: var(--ion-color-light);
  }

  p, h2, h3{
    color: var(--ion-color-light);
  }

  ion-header{
    webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 2%;
  }

  .container-header-perfil-data{
    display: contents;
    text-align: center;
  }

  .container-profile-avatar-data{
    position: relative;
    left: 30%;
  }

  .name-style{
    font-family: Quicksand-Bold;
  }

  .data-perfil-container{
    margin-left: 6%;
    margin-top: 45px;
  }

  .data-section{
    display: flex;
    justify-content: space-between;
  }
  .data-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .data-section p:first-child {
    flex: 0 0 150px;
    margin: 0;
    font-weight: bold;
  }
  
  .data-section p:last-child {
    flex: 1;
    margin: 0;
    text-align: left;
    margin-left: 20px;
  }