<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" class="start-buttons">
      <app-exit-button></app-exit-button>
    </ion-buttons>
    <ion-title class="custom-title">Perfil</ion-title>
    <ion-buttons slot="end" class="end-buttons">
      <app-home-button></app-home-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-header-perfil-data">
    <div class="avatar-custom container-profile-avatar-data">
      <ion-img src="../../../assets/profile-photo/bruce-mars.png" alt="Avatar"></ion-img>
    </div>
    <div>
      <h2 class="name-style">{{ userData?.name }} {{ userData?.surname }}</h2>
    </div>
    <div>
      <p>{{ userData?.description }}</p>
    </div>
  </div>
  
  <div class="data-perfil-container">
    <div class="title-section-data">
      <h3>Detalles de usuario</h3>
      <ion-button fill="clear" (click)="toggleEdit()" class="edit-button">
        <ion-icon color="secondary" name="create-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="body-section-data">
      <div class="data-section">
        <p>Nombre de Usuario</p>
        <p class="data-result-section">{{ userData?.username }}</p>
      </div>
      <div class="data-section">
        <p>Nombre</p>
        <p class="data-result-section" *ngIf="!editing">{{ userData?.name }}</p>
        <ion-input *ngIf="editing" [(ngModel)]="editableData.name" class="data-result-section"></ion-input>
      </div>
      <div class="data-section">
        <p>Apellido</p>
        <p class="data-result-section" *ngIf="!editing">{{ userData?.surname }}</p>
        <ion-input *ngIf="editing" [(ngModel)]="editableData.surname" class="data-result-section"></ion-input>
      </div>
      <div class="data-section">
        <p>Pais</p>
        <p class="data-result-section" *ngIf="!editing">{{ userData?.country }}</p>
        <ion-input *ngIf="editing" [(ngModel)]="editableData.country" class="data-result-section"></ion-input>
      </div>
      <div class="data-section">
        <p>Número telefónico</p>
        <p class="data-result-section" *ngIf="!editing">{{ userData?.phoneNumber }}</p>
        <ion-input *ngIf="editing" [(ngModel)]="editableData.phoneNumber" class="data-result-section"></ion-input>
      </div>
    </div>
    <div *ngIf="editing" class="save-button-container">
      <ion-button expand="block" (click)="saveChanges()">Guardar cambios</ion-button>
    </div>
  </div>
</ion-content>