<ion-content [fullscreen]="true">
  <ion-img [src]="" src="../../assets/login/login.png"></ion-img>
  
  <div class="title-container">
    <h1 class="login-title">Bienvenido</h1>
  </div>
  <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
    <ion-row>
        <ion-col class="inputs-col">
            
            <ion-list>
                <ion-item class="item-label item-label-username">
                  <!-- <ion-label></ion-label> -->
                  <ion-icon name="mail-outline"></ion-icon>
                  <ion-input
                    [placeholder]="'Correo electrónico'"
                    type="text" 
                    [(ngModel)] = "loginUser.username"
                    [attr.name]="'username'"
                    required>
                  </ion-input>
                </ion-item>

                <ion-item class="item-label item-password">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <ion-input
                    [placeholder]="'Contraseña'"
                    [type]="showPassword ? 'text' : 'password'"
                    [(ngModel)]="loginUser.password"
                    [attr.name]="'password'"
                    required
                  ></ion-input>
                  <ion-icon
                    name="eye-outline"
                    (click)="togglePasswordVisibility()"
                    *ngIf="!showPassword"
                  ></ion-icon>
                  <ion-icon
                    name="eye-off-outline"
                    (click)="togglePasswordVisibility()"
                    *ngIf="showPassword"
                  ></ion-icon>
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-col">
          <ion-button 
                      type="submit"
                      color="tertiary">
            Ingresar
          </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>