ion-content{
    --background: linear-gradient(0deg, rgba(223,136,143,1) 0%, rgba(255,227,206,1) 26%, rgba(168,209,224,1) 100%) !important;
}

.login-title{
    font-family: Roboto-Bold;
}

.list-md{
    background: none;
}

.item-label{
    --background : #D3D3D3
}