ion-card.profile-card {
    width: 90%;
    max-width: 350px;      /* Menor ancho */
    min-height: 250px;     /* Mayor altura */
    border-radius: 25px;
    margin: 20px auto;     /* Centramos la card y damos margen superior/inferior */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;    /* Menos padding horizontal para acercar los elementos */
}


.button-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    background: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.left-btn, .right-btn {
    margin: 0 5px;
}

.center-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: var(--ion-color-light);
}

ion-icon {
    width: 25px;
    height: 25px;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.avatar-custom {
    width: 120px;        /* Imagen agrandada */
    height: 120px;
    -webkit-mask-image: url("../../../assets/mask-blob.svg");
    -webkit-mask-size: cover;
    mask-image: url("../../../assets/mask-blob.svg");
    mask-size: cover;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}
  
.avatar-custom ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.avatar-custom ion-img.editing {
    opacity: 0.6;
}

.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

  .member-name {
    font-size: 1em;
    color: var(--ion-color-light);
    margin: 0;
    padding: 0;
  }