<ion-content [fullscreen]="true">
  <div class="introduction-container">
    <h1 class="twelve-steps-title">12 pasos hacia la felicidad</h1>
    <p>
      El objetivo de la práctica es llevarnos a la 
      reflexión sobre 12 aspectos de nuestra vida 
      que nos pueden generar bienestar y reflexionar 
      qué tan activo está en nuestras vidas, 
      ser sinceros y entender de forma personal 
      como influye cada uno de estos pasos 
      en el logro de nuestro bienestar.
    </p>
    <p>
      Su bienestar es nuestra responsabilidad.
      Tomate un respiro, ten conciencia y paciencia para responderlas.
      Buena suerte.
    </p>
    <button class="button-start-survey">
      <span *ngIf="!showIcon" [@fadeInOut]="'in'" class="fade-text">INICIAR</span>
      <ion-icon *ngIf="showIcon" name="footsteps" class="ion-icon-module" [@fadeInOut]="'in'"></ion-icon>
    </button>
  </div>

  <div class="buton-back-container" (click)="toggleToHome()">
    <button class="button-back-to-home">
      <span class="span-back-to-home">Volver al inicio</span>
    </button>
  </div>


</ion-content>
