.profile-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.profile-info {
    display: flex;
    flex-direction: column; /* Alinea los textos en columna */
}

.profile-info p{
    margin: 30px 0px 0px 0px;
}

.profile-photo{
    margin-right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 20px 20px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  ion-img {
    border-radius: 20px;
    overflow: hidden;
  }
  
