<div class="profile-container">
  <button class="profile-photo" (click)="goToProfilePage()">
    <div class="avatar-custom">
      <ion-img [src]="userImage" [hidden]="loading" (ionImgDidLoad)="onImgLoad()"></ion-img>
      <ion-spinner *ngIf="loading" class="spinner-overlay" color="secondary"></ion-spinner>
    </div>
  </button>
  <div class="profile-info">
    <p class="name-profile">{{this.userData?.name}} {{this.userData?.surname}}</p>
    <p class="name-team-proyect">{{this.userData?.enterpriseInfoHomeDTO?.name}}</p>
  </div>
</div>