@import url('/src/theme/fonts.scss');

.profile-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.profile-info {
    display: flex;
    flex-direction: column; /* Alinea los textos en columna */
    margin-top: 20px;
}

.profile-info p{
    margin: 10px 0px 0px 0px;
}

.profile-photo{
    margin-right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 15px 15px;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  ion-img {
    border-radius: 15px;
    overflow: hidden;
  }
  
.name-profile{
    font-family: Roboto-Bold;
    color: var(--ion-color-light);
}

.name-team-proyect{
    font-family: Roboto-Light;
    color: var(--ion-color-light);
}