<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Niko Niko Titulo</ion-card-title>
      <ion-card-subtitle>14 de febrero, 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card-content">
      <div class="icons-content">
        <ion-radio-group>
          <ion-item class="icon-mood-button">
            <img src="../../../assets/niko-niko-icons/mood-sad-svgrepo-com.svg" width="24" height="24">
            <ion-label>
              Muy Mal
            </ion-label>
            <ion-radio slot="start" value="muy-mal"></ion-radio>
          </ion-item>
          <ion-item class="icon-mood-button">
            <img src="../../../assets/niko-niko-icons/mood-frown-svgrepo-com.svg" width="24" height="24">
            <ion-label>
              Mal
            </ion-label>
            <ion-radio slot="start" value="mal"></ion-radio>
          </ion-item>
          <ion-item class="icon-mood-button">
            <img src="../../../assets/niko-niko-icons/mood-flat-svgrepo-com.svg" width="24" height="24">
            <ion-label>
              Normal
            </ion-label>
            <ion-radio slot="start" value="normal"></ion-radio>
          </ion-item>
          <ion-item class="icon-mood-button">
            <img src="../../../assets/niko-niko-icons/mood-smile-svgrepo-com.svg" width="24" height="24">
            <ion-label>
              Bien
            </ion-label>
            <ion-radio slot="start" value="bien"></ion-radio>
          </ion-item>
          <ion-item class="icon-mood-button">
            <img src="../../../assets/niko-niko-icons/mood-laugh-svgrepo-com.svg" width="24" height="24">
            <ion-label>
              Muy Bien
            </ion-label>
            <ion-radio slot="start" value="muy-bien"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-textarea>
  
      </ion-textarea>
    </ion-card-content>
    <div class="shared-button-container">
      <button class="shared-button-mood">Compartir estado de animo</button>
    </div>
  </ion-card>
</div>