:host {
    display: block;
    width: 400px; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ion-card-header{
    border-bottom: solid;
}

.card-content{
    margin-top: 20px;
    width: 100% !important;
}

.icons-content{
    border: solid;
    width: 100%;
}

ion-textarea {
    background-color: lightgray;
    width: 100%; 
    height: 50px;
    margin-top: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 8px;
}

ion-card-title{
    font-size: 0.8rem !important;
}

ion-card-subtitle{
    font-size: 0.6rem !important;
}



.icon-mood-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 

    ion-label {
        margin-top: 5px;
        text-align: center; 
    }

    ion-radio {
        display: none; 
    }

    &:active {
        background-color: var(--ion-color-primary-tint); 
    }

    &:hover {
        background-color: #d0d0d0;
    }
}

.icon-mood-button img {
    margin-bottom: 5px; 
    width: 24px; 
    height: 24px; 
}

.shared-button-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 12px;
    border-top: solid; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

.shared-button-mood {
    background-color: var(--ion-color-primary);
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 12px; 
    cursor: pointer;
    margin-right: 15px;
}