* {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

app-notify-button {
  margin-left: 20%;
}

app-exit-button {
  margin-left: 3%;
}

.ion-title-content{
  display: contents;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: auto;
}

.surveys-header-container{
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-top: 10%;
}

.surveys-header-container h2{
  font-family: Roboto-Bold;
}

.surveys-header-container label{
  margin-left: 31%;
  font-family: Roboto-Light;
}

.recommendations-header-container{
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-top: 10%;
}

.recommendations-header-container h2{
  font-family: Roboto-Bold;
}

.recommendations-header-container label{
  margin-left: 25.3%;;
  font-family: Roboto-Light;
}