<ion-content>

  <div class="header-container">
    <app-profile-home></app-profile-home>
    <app-notify-button></app-notify-button>
    <app-exit-button></app-exit-button>
  </div>



  <div class="surveys-container">
    <div class="surveys-header-container">
      <h2>
        Ultima encuesta
      </h2>
      <button (click)="goToSurveys()" class="view-all-surveys-button">
        <label>Ver todas</label>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </button>
    </div>

    <ng-template [ngIf]="this.surveyAvailable" [ngIfElse]="noSurveysExistsTempalte">
      <app-survey-card [survey]="this.lastSurveyAvailable"></app-survey-card>
    </ng-template>
  </div>

  
  <div class="surveys-container">
    <div class="recommendations-header-container">
      <h2>
        Recomendaciones
      </h2>
      <label>Ver todas</label>
    </div>

    <app-recommendation-card></app-recommendation-card>
    <app-recommendation-card></app-recommendation-card>
    <app-recommendation-card></app-recommendation-card>
  </div>

  <ng-template #noSurveysExistsTempalte>
    <app-info-card [infoText]="this.getMessageNotSurveysExists()"></app-info-card>
  </ng-template>

</ion-content>