* {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

app-notify-button {
  margin-left: 20%;
}

app-exit-button {
  margin-left: 3%;
}

.ion-title-content{
  display: contents;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: auto;
}

.surveys-header-container{
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-top: 10%;
}

.surveys-header-container h2{
  font-family: Quicksand-Bold;
}

.recommendations-header-container{
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-top: 10%;
}

.recommendations-header-container h2{
  font-family: Quicksand-Bold;
}

.recommendations-header-container label{
  font-family: Quicksand-Light;
}

.view-all-surveys-button {
  margin-left: 31%;
  font-family: Quicksand-Bold;
  background: none;
  border: none;
  color: inherit; 
  cursor: pointer;
  padding: 0; 
  font: inherit; 


  display: flex;
  align-items: center;
}

.view-all-recomendation-button {
  margin-left: 26%;
  font-family: Roboto-Bold;
  background: none;
  border: none;
  color: inherit; 
  cursor: pointer;
  padding: 0; 
  font: inherit; 


  display: flex;
  align-items: center;
}

.view-all-surveys-button label{
  margin-right: 3px;
}

label{
  color: var(--ion-color-light);
}

h2{
  color: var(--ion-color-light);
}