// :host(.tab-selected) {
//     color: var(--color-selected);
//     background: red !important;
// }

ion-tab-button{
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 90%;
    background: none;
}

ion-tab-button.tab-selected {
    color: var(--ion-color-light);
    background: var(--color-selected) !important;
    box-shadow: -1px 42px 107px 22px var(--ion-color-primary);
}

ion-tab-bar{
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 8%;

    align-self: center;
    border-radius: 40px;
    margin-bottom: 30px;

    box-shadow: 6px 10px 58px 13px var(--ion-color-secondary);
}

.last-tab-button{
    margin-right: 10px;
}