<ion-radio-group>
  <ion-item class="option-container">
    <ion-radio value="space-between" justify="space-between" value="opcion1" [(ngModel)]="selectedOption">Opcion 1</ion-radio>
  </ion-item>

  <ion-item class="option-container">
    <ion-radio value="space-between" justify="space-between" value="opcion2" [(ngModel)]="selectedOption">Opcion 2</ion-radio>
  </ion-item>

  <ion-item class="option-container">
    <ion-radio value="space-between" justify="space-between" value="opcion3" [(ngModel)]="selectedOption">Opcion 3</ion-radio>
  </ion-item>

  <ion-item class="option-container">
    <ion-radio value="space-between" justify="space-between" value="opcion4" [(ngModel)]="selectedOption">Opcion 4</ion-radio>
  </ion-item>
</ion-radio-group>