<ion-content>

  <div class="header-container">
    <app-profile-home></app-profile-home>
    <app-notify-button></app-notify-button>
  </div>



  <div class="surveys-container">
    <div class="surveys-header-container">
      <h2>
        Ultima encuesta
      </h2>
      <label>Ver todas</label>
    </div>

    <ng-template [ngIf]="true" [ngIfElse]="noSurveysExistsTempalte">
      <app-survey-card></app-survey-card>
    </ng-template>
  </div>

  
  <div class="surveys-container">
    <div class="recommendations-header-container">
      <h2>
        Recomendaciones
      </h2>
      <label>Ver todas</label>
    </div>

    <app-recommendation-card></app-recommendation-card>
    <app-recommendation-card></app-recommendation-card>
    <app-recommendation-card></app-recommendation-card>
  </div>

  <ng-template #noSurveysExistsTempalte>
    <app-info-card [infoText]="this.getMessageNotSurveysExists()"></app-info-card>
  </ng-template>

</ion-content>